BasedOnStyle: true
IndentWidth: 4
TabWidth: 4
UseTab: true
ColumnLimit: 100
BreakBeforeBraces: true
PointerAlignment: true
ReferenceAlignment: true
SortIncludes: true
IncludeBlocks: true
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: true
